[2017-10-02 13:33] mattngc opened #3 "SOLPS grid integrator"
* Current version of the emission models defaults to the NumericalIntegrator(step=x cm). The class essentially performs numerical integration using the given step size.
* A potentially much faster and more powerful solution is to use the kd-tree to find all intersecting cells and calculate their traversal lengths analytically. This should lead to a much faster and more accurate calculation method.

[2019-01-18 17:02] jacklovell opened #2 "Can't read SOLPS shots from MDSplus with MDS+ 7.49"
### Steps to reproduce:
1. Install MDSplus 7 (e.g. from the stable repository via mdsplus.org)
1. Run the following code:
[code]

### Expected result
Loads successfully, just like it does with MDSplus 6.1 (on Freia)

### Actual result
[code]

### Explanation
It seems like between MDSplus 6 and 7 the return type of string variables changed from `numpy.bytes_` to `numpy.str_`. The latter does not re

[2019-02-15 17:37] mattngc commented on #2
@jacklovell If you've already got any easy fix for this in your own code, please do a PR for it.

[2019-02-18 13:32] jacklovell commented on #2
Fixed by #4

[2019-02-18 13:32] #2 closed, assigned to jacklovell

[2019-07-31 08:08] jacklovell opened #5 "Documentation!"
We now have external users working with `cherab-solps`. We should provide documentation at `cherab.github.io`, as is done for the core module.

[2019-09-16 18:22] matteomoscheni opened #6 "Minor fixes to mdsplus.py"
Hello everybody,

first of all, thank you for the great work! I have some minor fixes of mdsplus.py file:

**line 85: 'decode' is applied to an already decoded object => an error message is printed. It is sufficient to remove it.

**line 169: 'sim._total_rad' is to be substituted by 'sim.total_radiation' where "total_radiation" is one property of the sim-object. In this way the setter correctly wo

[2019-09-18 14:24] CnlPepper commented on #6
Hi Matteo,

coincidentally I just spotted the total_radiation issue too. I'll make this change now. The change will be in the dev branch until we make another release.

Best regards,

Alex

[2019-09-18 14:36] CnlPepper commented on #6
I'll leave the decode for now, I suspect someone added it for a reason. This whole part of the code is quite poor and needs a heavy refactor, it was a quick hack together to solve an immediate need.

[2019-09-18 14:38] CnlPepper commented on #6
Ok looks like I was working off a stale copy of the file, I'll have to revert this change and re investigate.

[2019-09-18 14:44] CnlPepper opened #8 "SOLPS rewrite and tidy-up"
There is a lot of bad code in this package that really needs addressing. At present the SOPLS sim object has no way of being initialised without modifying internal, hidden attributes. I've spotted a few cases of API inconsistency and incorrect docstrings.

[2019-09-18 14:45] CnlPepper commented on #6
I've reverted the change, are you using the master or dev branch? If you are using master, please consider switching to development... I think it is in a better state, though not brilliant.

[2019-09-18 20:48] matteomoscheni commented on #6
Thank you very much for both the advice and the effort!

[2019-09-19 20:46] mattngc commented on #8
To be honest, we need a new maintainer for this module. I might post it somewhere. I wrote this module 3+ years ago and have barely worked on it since. Ideally we should find a SOLPS developer or heavy user to look after it.

[2019-09-19 20:53] #6 closed, assigned to nobody

[2020-01-15 13:31] TomFarley opened #12 "Incompatible with raysect>=0.6.0"
Raysect has been refactored in version 0.6.0 with Discrete2DMesh moved from raysect.core.math.interpolators to raysect.core.math.function. This has broken the solps cherab module in its current form.

Attempting to install the solps module results in a number of errors starting with:

tfarley@freia013:~/repos/cherab/solps$ python setup.py install --user
Compiling cherab/solps/solps_3d_functions.py

[2020-01-15 13:45] jacklovell commented on #12
Thanks Tom. We'd made this change upstream in Cherab, but not in the SOLPS package. I've just pushed the fix to the development branch: can you try running from that?

[2020-01-15 14:42] TomFarley commented on #12
Brilliant, that's fixed it, thanks Jack.

On Wed, 15 Jan 2020 at 13:45, Jack Lovell <notifications@github.com> wrote:

[2020-01-15 16:28] TomFarley opened #14 "Error importing from solps_3d_functions"
On a fresh install of the solps module (cherab-solps==1.0.0) imports from solps_3d_functions are broken in the main __init__.py:

`tfarley@freia013:~/repos/cherab/solps$ ipython
Python 3.7.1 (default, Dec 14 2018, 19:28:38)
Type 'copyright', 'credits' or 'license' for more information
IPython 7.2.0 -- An enhanced Interactive Python. Type '?' for help.

In [1]: import cherab.solps
-----------------

[2020-01-16 16:46] jacklovell commented on #14
We traced this back to an installation issue with Raysect and Cherab Core. The user had Python 3.7 and Numpy 1.15.4 installed. `pip install raysect` pulled in the manylinux wheel for raysect 0.6.0, which was built with Numpy 1.16 and is incompatible with 1.15.4. This install appeared to succeed but was actually broken, and meant subsequent installs of cherab-core and cherab-solps failed.

The solu

[2020-01-16 16:46] #14 closed, assigned to nobody

[2020-01-16 16:47] jacklovell commented on #12
Closed by #13

[2020-01-16 16:47] #12 closed, assigned to nobody

[2020-04-14 09:35] jacklovell opened #15 "Error reading fort.44 file from recent SOLPS"
The fort.44 loading function errors out when reading files produced by a recent version of SOLPS-ITER. The format identifier for these files is 20170328.

The Eirene reading logic has been tested on a file with format ID 20130210 (AUG test case), and I've also successfully read an Eirene file with format ID 20070912. But 20000727 does not work.

We should explicitly check the Eirene format ID, and

[2020-04-14 16:45] Mateasek commented on #15
I agree, last week I tried to read file with format ID 20170328 (first time I had to work with this module) which has comments before data blocks. This is not expected by the parsing script.

I think it would be in general a better approach to pull the file parsing code outside of Eirene class and make it accept simple np arrays as it is in the case of the EFITEquilibrium class. Then the parsing c

[2020-04-14 17:44] jacklovell commented on #15
I have an in-progress branch which is able to read the 20170328 format of this. Like @Mateasek suggests, I've split the 2013 and 2017 formats into separate functions, with a top level function whose only job is to read the format ID and delegate to the appropriate function. I'll clean this up and submit it as a PR for review.

[2020-04-14 18:17] Mateasek commented on #15
Awesome, thanks @jacklovell. Tell me if you need any help.

[2020-04-22 10:18] Mateasek commented on #15
I tested the funciton reading 2017 fort.44 file version in the #16. I anyway think that the parsing should be moved outside of the eirene class, which would become only a data containter with defined inputs, variables and properties. There are two main reasons.

 First is it will give the possibility to move the file reading code into separate files which will make the maintenance easier in my opi

[2020-04-23 09:17] jacklovell commented on #15
I agree that moving the parsing out of the class would allow for easier expansion in future to other Eirene fort.44 formats. This sort of refactor is perhaps better done as part of the more extensive refactoring proposed in #8. I'll merge the fix in #16 as it provides a solution for an immediate need, with the understanding that it can be improved upon later.

[2020-04-23 09:19] jacklovell commented on #15
Fixed with #16.

[2020-04-23 09:19] #15 closed, assigned to nobody

[2020-04-23 10:53] Mateasek opened #18 "Pull Eirene file parsing out of eirene.py"
I propose the following changes for the eirene.py and Eirene class.

File parsing will be moved outside of the Eirene class and the file structure will become the following:
eirene/
  -eirene.py
  -fort44/
    -read.py
    -version1.py
    -version2.py

file read.py will contain a function eirene_fort44 and a dictionary with available file versions and assigned parsing functions. The eirene_fort44

[2020-04-23 13:35] jacklovell commented on #18
I'm in favour of this, but I think @CnlPepper is the best person to ask about changes to the architecture.

[2020-04-23 13:58] mattngc commented on #18
I think this sounds sensible as well.

[2020-04-24 15:28] jrh-ccfe commented on #3
Out of curiosity, how much work is involved in switching to this improved integrator?  For production runs it could potentially save great deal of time, and removes the requirement for the user to specify a step length.

[2020-04-24 15:42] mattngc commented on #3
Yes, it potentially adds ridiculous speed ups. I wouldn't be surprised if you could get almost a factor x10 on SOLPS based runs. So much time is wasted on the sub-optimal integration scheme for these problems.

Its probably one of the most technical features of Raysect though. Definitely not for non-experts.  Sad thing is, I had a working draft on one of my private branches a few years ago, but I'

[2020-04-25 14:31] Mateasek opened #20 "Add class functions returning data interpolators to SOLPSSimulation"
I think it would be a nice addition to the SOLPSSimulation. The interpolators are created within the create_plasma function. Moving the code to separate funcions would add a nice possibility to use the solps module for plotting, data generation and etc. together with cherab samplers.

For such purposes functions returning 2D interpolators would be enough, but adding functions returning 3D interpol

[2020-04-25 17:07] CnlPepper commented on #18
General comment, then a specific one.

There are two tidy ways of implementing file reads from multiple formats, either:

1) multiple class method on the class to initialises from a file handle/filename
2) separate import and export methods

When I encounter messy formats like those commonly encountered in fusion, I tend to pick the cleanest or devise a clean file format and add methods to handle

[2020-04-26 16:16] Mateasek commented on #18
Thanks for suggestions @CnlPepper. I will work in the changes you propose. I was not comfortable with passing back the data in some intermediate form, but this solution did not come to my mind.

[2020-04-27 10:43] jacklovell opened #21 "New release"
The current master branch of cherab-solps is incompatible with the released versions of raysect and cherab-core. This means new users need to check out the development branch before installing, which has led to confusion in a number of cases. There have been recent proposals to re-architect parts of this repository (e.g. input file reading), so I think it makes sense to make a new release of the c

[2020-04-27 10:51] mattngc commented on #21
All of that sounds fine to me. Also, I think you need to consider adding a demonstration case to this module. Something like the demo Vlad is contributing to core. An obvious issue might be the raw file size, but if you can get agreement from the owners and just contribute a minority of files instead of the full case, it might allow a self contained example of module use. Like other parts of Chera

[2020-04-27 11:05] jacklovell commented on #21
Yes, good point. We already have an MDSplus demo, which is self-contained in the sense that it can be run with no additional files. It does require read access to the SOLPS MDSplus server, but if a user doesn't have that then a demonstration of its functionality isn't going to be much use to them anyway.

Vlad's example would fit nicely as a raw files demo. I'll see if he can provide the original

[2020-04-27 11:09] mattngc commented on #21
Also, the requirements for it to be used here will be the same as in the core issue. The case itself looks good, it's just waiting for the equilibrium object to be fixed. If you manage to solve that here it will solve both issues.

[2020-06-09 14:46] jacklovell opened #22 "Error reading MAST-U MDSplus simulation"
When reading a MAST-U simulation, number 121844, from the `solps-mdsplus.aug.ipp.mpg.de:8001` MDSplus server I get the following error:

[code]
This particular simulation has an ENEUTRAD value with shape (3, 34, 148), in contrast to the 69636 in the demo file which is of shape (34, 148). The radiation is resolved into 3 different neutral species.

It looks like the sum over strata is using the wro

[2020-06-09 20:58] mattngc commented on #22
Hey Jack, no unfortunately I don't remember. It's likely I was trying to get a particular case to work at the time. It does look like a bug. No problems with making the change on my side.

[2020-06-10 07:47] #22 closed, assigned to nobody

[2020-06-10 07:58] jacklovell opened #24 "MDSplus read fails for simulations containing Boron"
For example, ref number 141893 is an AUG simulation with Boron:
[code]

[2020-06-10 08:19] #24 closed, assigned to nobody

[2020-06-10 11:12] jacklovell opened #26 "Check for presence of DAB2 in MDSplus reading is incorrect"
This section of code has a logic error:
[code]
The return value of `conn.get` is an instance of an MDSplus Signal object, not a numpy array. So the neutral density is never assigned here, even though the DAB2 signal exists.

This means later on in the code, the fluid neutral density is used instead of DAB2, despite not being calculated in a self consistent way. Typically this means cherab-solps pl

[2020-06-10 11:16] #26 closed, assigned to nobody

[2020-06-12 16:20] jacklovell opened #28 "Inconsistent treatment of ENEUTRAD among input formats"
The routines for reading in the total radiated power from neutrals are inconsistent:
- For raw files, the ENEUTRAD quantity from the fort.44 file is used directly. This gives power in W, is only for neutrals (no impurity ion radiation is counted) and negative values correspond to positive emission.
- For MDSplus, abs(bremsstrahlung + line radiation +  eneutrad) / volume. This gives emissivity in W

[2020-06-15 20:52] mattngc commented on #28
This sounds like a sensible approach to me.

Impressed you managed to track down all this information. Remember I could never get consistency between the different formats, it seemed like every format was different and documentation was rare. I remember doing a benchmark for Felix with one of his cases and we managed to get reasonable agreement... but long since forgotten now.

[2020-06-17 08:19] Mateasek commented on #28
My SOLPS knowledge is very limited, so I am sorry if I didn't correctly understand the question here. I agree with what @jacklovell proposes. The main purpose of this module should be to provide Cherab users with a tool to work with SOLPS data with approach and units as consistent with rest of the famework as possible. On the other hand, I think this could also be a more general package allowing w

[2020-07-29 08:03] Mateasek commented on #21
What is the status of this issue? Have you had any time to look into it @jacklovell ? Would it be possible to skip (for now) the self-contained demo, if it is the reason why the new release hasn't been pushed yet? It would be nice to have the development branch updated so it is compatible with the current raysect and cherab development branches, after the changes in the function framework.

[2020-07-29 08:31] Mateasek commented on #18
closed with PR #19

[2020-07-29 08:31] #18 closed, assigned to Mateasek

[2020-07-29 09:13] Mateasek commented on #21
Meanwhile I could make a branch and update the code to be compatible with the new function framework, if @jacklovell agrees.

[2020-07-29 09:19] jacklovell commented on #21
Yes, the self-contained demo is holding this up: the simulation proposed in https://github.com/cherab/core/issues/211#issuecomment-594231679 was done in an older version of SOLPS which doesn't output the B2 files required for cherab-solps. And I *really* don't want to have to deal with yet another poorly-documented format in this codebase.

The pragmatic approach would be to deal with the first 3

[2020-07-29 10:36] Mateasek commented on #21
Thanks @jacklovell, let me know if you need any help.

[2020-07-29 16:31] jacklovell opened #30 "Create a self-contained demonstration"
We need a demo of the functionality of this module which doesn't depend on any external sources. This will require the output of a SOLPS5 simulation, as SOLPS4.3 produces files in the wrong (and undocumented) format. Or we need a way to convert SOLPS4.3 files into the SOLPS5 format.

[2020-07-29 16:32] jacklovell commented on #21
I've opened #30 to track the creation of a self-contained example. It shouldn't hold up this release any longer, but it also shouldn't be forgotten about.

[2020-07-30 09:36] jacklovell commented on #21
@Mateasek I've just pushed [a new branch](/cherab/solps/tree/maintenance/raysect-imports) which has compatibility with the current development branches of raysect and Cherab-core.

[2020-08-07 13:35] #21 closed, assigned to nobody

[2020-08-20 15:35] jacklovell commented on #30
@vsnever: You've already mentioned in https://github.com/cherab/core/issues/211#issuecomment-620186781 that the output files from the SOLPS4.3 simulation being used for core aren't in a format compatible with cherab-solps. But is it possible to do a SOLPS-ITER run with the same input files to produce the output in the SOLPS5 formats required by this package? Or are those input files no longer avai

[2020-08-20 16:15] jacklovell opened #31 "Plasma from raw files should use Eirene neutral density if available"
The `dab2` quantity computed by Eirene should be used for the neutral density. B2 uses a fluid approximation for the density which is not self-consistent with the rest of the simulation, and is typically orders of magnitude too low. Both MDSplus and balance readers use dab2 for neutrals already.

[2020-08-20 16:52] vsnever commented on #30
I wrote to Andrey about the input files and their compatibility with SOLPS-ITER. Also, it might be worth asking the SOLPS-ITER developers if they have a tool to convert SOLPS 4.3 output to SOLPS 5 format.

[2020-08-23 22:33] vsnever commented on #30
@jacklovell: Got a response from Andrey. He says that there is actually a conversion tool that can convert SOLPS 4.3 output to SOLPS 5 format, however it may be buggy. Andrey provided me with a complete output for one of his simulations for exactly the same mesh geometry as in https://github.com/cherab/core/issues/211#issuecomment-647182272. Here is the [file](https://drive.google.com/file/d/1LFd3

[2020-08-24 09:08] jacklovell commented on #30
That would be great. Yes, please do contact Xavier.

[2020-09-03 00:04] vsnever commented on #30
It turned out that converting these simulation results to SOLPS 5 format was not a piece of cake. The simulation was done in SOLPS 4.3.3, and the SOLPS-ITER converting tool `b2sxdr` works only with ITER's version of SOLPS 4.3.2. Xavier was not able to convert the files as he does not have the SOLPS 4.3.3 source, so I had to do it myself. Xavier provided me with access to ITER SOLPS repositories an

[2020-09-03 13:51] vsnever opened #32 "Make fort44 parser to support more versions of EIRENE fort.44 file"
Currently, the parser will throw an error if the version of fort.44 is not equal to 20130210 or 20170328. In b2plot source files I found the references to the following versions of fort.44: 960511, 960513, 960623, 960727, 961228, 20000727, 20051115, 20060206, 20071209, 20080706, 20081111, 20130210, 20170228, 20170328 and 20180323. I doubt it makes sense now to add support for all of these versions

[2020-09-03 14:11] vsnever opened #33 "Look up in cherab.core.atomic.elements instead of using _popular_species and _species_symbol_map dicts"
I suggest that instead of using _popular_species dict when reading the data from raw or balance files, we should search for the matches in `cherab.core.atomic.elements`. First, get all isotopes with a given nuclear charge, second, from them find the one with the closest atomic mass to the given one.

Similarly, `_species_symbol_map` dict must be replaced with the search for the matching element sy

[2020-09-03 14:37] vsnever opened #34 "Use more SOLPS data when available"
Currently, the following useful data are extracted from the SOLPS files, but not used when creating a plasma object:

- neutral density (from EIRENE, see #31),

- effective neutral temperature (from EIRENE),

- ion temperature (from B2),

- parallel velocities (from B2),

- magnetic field vector (from b2fgmtry),

- total (molecular and atomic) H-alpha emission (from EIRENE).

The total H-alpha emi

[2020-09-03 15:57] CnlPepper commented on #33
I built these search functions to simplify element handling:

https://github.com/cherab/core/blob/d58c8c26470209be9643a8c23b9dc9385bbe30e9/cherab/core/atomic/elements.pyx#L136

You can lookup the element by name, atomic number etc....

[2020-09-03 16:33] vsnever commented on #33
Yes @CnlPepper, it's exactly what I was looking for, thank you. I'll update the code and make the PR then.

@jacklovell, could you please provide me with any `balance.nc` file for testing? All examples in SOLPS-ITER are in md5.

[2020-09-03 19:01] vsnever commented on #33
Current representation of species in `SOLPSSimulation` class as a list of strings (symbol + charge) in unsafe. Let's say we have He3 in the plasma, for the neutral He3, `re.match(_SPECIES_REGEX, sp).groups()` will return `('He', 30)`. It's better to keep the species as the list of (symbol, charge) tuples or even (`Element`/`Isotope`, charge) tuples. In the latter case, we can avoid try-except for

[2020-09-03 21:43] vsnever commented on #8
I think `SOLPSSimulation` class should be initialised with `mesh, species_list` instead of just `mesh`, because this will allow to define property setters that check array dimensions.

[2020-09-03 23:09] vsnever commented on #8
Is is safe to remove `parallel_velocities` and `radial_velocities` attributes from `SOLPSSimulation`? Seems like duplicates to `velocities_parallel` and `velocities_radial`.

[2020-09-07 17:04] vsnever opened #36 "Fix velocity calculation"
Currently, the parallel velocity (`UA` in SOLPS notation) is misinterpreted as the projection of velocity onto the poloidal direction. This is not so, parallel velocity is the projection of velocity onto the direction of the magnetic field: V<sub>||</sub> = (**VB**)/|**B**|.

To correctly calculate the velocities we must use particle fluxes at poloidal and radial directions defined on cell faces.

[2020-09-10 10:40] vsnever commented on #20
Just would like to point out that there is one not obvious advantage of `SOLPSFunction3D` over the `AxisymmetricMapper(Discrete2DMesh())` approach. `SOLPSFunction3D` uses a pointer to the original data on the SOLPS grid, while `Discrete2DMesh()` copies the data on the triangular mesh on initialisation. So, in case of  `SOLPSFunction3D`, if the original data is manually modified by the user (for ex

[2020-09-10 11:39] vsnever opened #37 "Invert index order of SOLPS data arrays or make all arrays as column-major"
The current index order of SOLPS data arrays: (poloidal, radial, species) make sense only for column-major arrays (Fortran-style or F-style), because the species slice is needed more often than the radial slice and the radial slice is needed more often than the poloidal slice.

In the raw simulation files, the arrays are stored in column-major order, and `load_b2f_file()` and `read_block44()` retu

[2020-09-10 11:43] CnlPepper commented on #37
I would convert everything to row major, i.e. C-style. Unless a mistake has been made everything should be row major in raysect and cherab.

[2020-09-14 08:01] jacklovell commented on #30
Brilliant, thanks for doing this. Yes, all suggestions for improvement are very welcome.

[2020-09-14 16:27] jacklovell commented on #32
We deliberately made the version checks very restrictive, because neither @Mateasek or I could find a comprehensive list of the different fort.44 versions and their specifications. It may be buried in the git history of the b2plot source code, and extracting that wasn't an appealing prospect. We got it to work for the specific versions of fort.44 files we have available and need for our work, and

[2020-09-14 16:51] vsnever commented on #32
Ok, I'll revert the respective change in #35 (after you review this PR), but at least, let's add 20081111 version in the supported list, because fort44_2013 parser reads it correctly.

[2020-09-14 20:00] Mateasek commented on #32
Sorry for me being idle until now. The idea behind the current code is, as @jacklovell described, to allow parsing of the files we knew how to read and how to interpret the data contained. If you are sure you know we have a function which can correctly parse and interpret a datafile version, add it to the list. I am not the person to judge, my knowledge of the SOLPS is only as a output user.

SOLP

[2020-09-14 20:20] vsnever commented on #32
Yes, I already understand that letting fort44_2013 parser to read any version of fort.44 older than 20170228 until someone report a bug was a bad idea.
Since fort44 parser reads only the main data from fort44, there is a high chance that it correctly reads not only 20081111 and 20130210 versions but some older versions too. I'll try to check the b2plot source code to clarify this, though the b2plo

[2020-09-15 00:22] vsnever commented on #32
I was wrong, fort44_2013 parser incorrectly reads the version 20081111. The difference is in neutral radiated power (`eradt` in `Eirene` class). Everything else is parsed correctly.

In SOLPS-ITER there is a subroutine called `b2yt_ngread` that reads fort.44 file for plotting. It's located at `modules/B2/5/src/convert/b2yt_ngread.F`.  It's quite possible to get what's going on there by following t

[2020-09-15 10:07] vsnever commented on #32
Just to summarize, according to `b2yt_ngread` the content of fort.44 file depends on:

- fort.44 file version (960511, 960513, 960623, 960727, 961228, 20000727, 20051115, 20060206, 20071209, 20080706, 20081111, 20130210, 20170228, 20170328, 20180323);

- SOLPS version (4.3, 5.0, 5.1, 5.2, iter);

- Eirene format (old, new, facelift, juelich, iter);

- the presence of fort.33 file in the simulation

[2020-09-15 10:23] Mateasek commented on #32
Thanks @vsnever for this deep detective work. It is a pleasure to encounter such a data file, isn't it? There are few SOLPS-ITER users in our institute, I will try to get access to the code from them, I don't have ITER IDM account. My knowledge of Fortran is quite limited, so it will take me some time to get to the bottom of it. Is there anything particular you would like me to look into, so we do

[2020-09-15 10:42] vsnever commented on #32
@Mateasek, I didn't mean that you should dig into this too). The last time I wrote something in Fortran was in 2006, so my knowledge of Fortran is also very limited.

[2020-09-15 11:01] jacklovell commented on #32
Yuck. This feels like fort.44 is an internal file. There are so many variations that I wouldn't be surprised if each SOLPS user produced a slightly different format! I fear we'll end up constantly firefighting as new users with slightly varying set-ups try to use this package with incompatible output files.

Are there tools within SOLPS itself to convert simulation outputs to other formats (balanc

[2020-09-15 12:16] vsnever commented on #32
Despite the great number of versions of fort.44, SOLPS and Eirene formats, there are only 18 if-else statements in `b2yt_ngread` related to version checking.
**Update** Unfortunately, there are much more than 18 if-else statements in `b2yt_ngread` related to version checking...

I support the idea that fort.44 parser in cherab-solps should work only with most popular configurations. Anyway, anythi

[2020-09-15 16:07] jacklovell commented on #32
If `b2yt_ngread` changes with different SOLPS versions, those 18 if-else statements could end up as a lot more actual branches we'd need to handle. It's a mess, and I'd rather limit the use of raw files to cases where it's impossible to obtain access to the simulation results in a sane format.

On a similar note, do the b2fgmtry and b2fstate files vary this much between SOLPS versions (even SOLPS

[2020-09-15 16:39] vsnever commented on #32
Actually, it is not as awful as it seemed at first glance. For example, any version of fort.44 before 20071209 has no `eneutrad` dataset at all. In all other cases, the parser needs to skip a certain number of data points to reach `eneutrad` dataset. This number of data points is countable in each case.

Unlike fort.44, the files b2fgmtry and b2fstate are structured. The datasets stored in these f

[2020-09-28 17:24] jacklovell commented on #32
One format we should definitely support is 20081111, as this is the format used for the standalone demo.

[2020-09-28 17:49] vsnever commented on #32
As a temporary solution I can add a parser that parses anything except the `eneutrad` just based on the fort.44 file version. For now we can use it to parse the files older than 20130210, until the universal parser is ready.

[2020-09-28 18:27] vsnever commented on #32
@jacklovell please see [this commit](https://github.com/vsnever/cherab-solps/commit/f125192006e7abe614c8d66d28e1ff1417b3f384). This parser is based on `load_fort44_2013` but skips parsing `eneutrad`. As `eneutrad` was introduced in the version 20071209, it can read any older version without missing anything. I propose to use it also for the versions 20071209, 20080706 and 20081111 as a temporary s

[2020-09-30 09:42] jacklovell commented on #32
This looks good, thanks. Though I would call it something like `read_fort44_pre2007` as this is a bit more precise than just "old" (after all, at this point a 2013 file format is pretty old and even 2017 will be "old" in several years time). We can avoid the temporary confusion of using a "pre-2007" reader to read 2008 and 2011 data by commenting in the code that we're using this parser until full

[2020-09-30 11:31] jacklovell commented on #32
I notice too that 20170328 files which I have contain a title line before each data block, such as the following:
[code]
The field names match up with those in the SOLPS manual https://portal.iter.org/departments/POP/CM/IMAS/SOLPS-ITER/Manuals%20and%20Documentation/SOLPS-ITER_User_Manual.pdf (section 5.2), though some quantities in the latest version of the manual - such as emolrad and eionrad - a

[2020-09-30 11:54] jacklovell commented on #32
I've also found some fort.44 files on one of our ORNL machines with version number 20160829. This also has a title line and so could be read by this unified parser.

[2020-09-30 12:53] vsnever commented on #32
Yes, you are right. I renamed it and added the comments that using this parser for pre-2013 versions is a temporary solution. I made a PR.

[2020-09-30 13:01] vsnever commented on #32
Yes, and for the total power radiated by neutral atoms ('eneutrad') we cannot tell whether it's resolved over atoms or not until we know SOLPS version, Eirene format (in addition to fort.44 version) and the value of `NLWRMSH` variable, whatever this variable means).

[2020-09-30 13:15] vsnever commented on #32
However, in case of labeled files we can count the number of data points before the next label, and thus determine whether the 'eneutrad' is resolved over neutrals or not. So, maybe, yes, in case of labeled files we do not need to ask the user about SOLPS version, Eirene format, etc.

[2020-09-30 13:33] jacklovell commented on #32
The label line includes the number of elements in that block. We need to know the dimensions to reshape the block anyway, so with those dimensions and the number of elements we can uniquely determine whether the radiation is resolved over atoms or not. The same will apply to emolrad and eionrad in >=2018.

[2020-10-15 16:45] jacklovell commented on #32
I'm currently working on a routine to read in labelled formats (>=2016), which I'll shortly submit as a PR for testing.

[2020-10-15 19:41] vsnever commented on #32
It's great. Since I more or less understand how b2plot reads this file, I will write a parser for the unlabelled pre-2016 format. Unfortunately, due to the workload, I will not be able to do this until November.

[2020-12-10 17:40] jacklovell commented on #28
I've picked this back up. Getting the Prad from Eirene as W/m3 is easy, but this is only for neutral radiatoin. The MDSplus and balance.nc readers include line radiation and Bremsstrahlung from B2 too when they assign `sim.total_radiation`: it would be good to do this for raw files too.

I notice that b2plot can plot the quantities `b2br` and `b2ra` for Bremsstrahlung and line radiation respective

[2020-12-14 16:03] jacklovell commented on #28
Unfortunately the `rqrad` and `rqbrm` quantities which are required to get line emission and Brensstahlung respectively are only available in the b2fplasma file or its plain text equivalent, b2fplasmf. Currently we only require b2fstate, b2fgmtry and fort.44 for the raw file reader, and I don't particularly want to add a new hard file dependency as this could break existing workflows.

Of course,

[2021-04-06 20:00] vsnever commented on #33
Fixed in #35.

[2021-04-06 20:00] #33 closed, assigned to nobody

[2021-04-06 20:01] vsnever commented on #36
Fixed in #35.

[2021-04-06 20:01] #36 closed, assigned to nobody

[2021-04-06 20:01] vsnever commented on #37
Fixed in #35.

[2021-04-06 20:01] #37 closed, assigned to nobody

[2021-05-17 20:39] Mateasek opened #45 "Save B2 mesh quadrangle indicies to SOLPSMesh"
I was contacted recently by a colleague of mine about the possibility to plot/get B2 mesh with Cherab. I think that saving quadrangle indicies into SOLPSMesh could be useful for various reasons like plots or checks of simulation results. It is after all the original B2 mesh and it is quite pitty it is not kept when the indices are in fact calculated. Adding it is quite straightforward and similar

[2021-05-17 21:54] vsnever commented on #45
Will these indices allow one to plot the SOLPS data using the functions like `pcolormesh`? If yes, than I agree that we should have them.

[2021-05-18 08:05] Mateasek commented on #45
Hi @vsnever ,

It should be possible if we also keep the mapping from quadrangles to the b2grid as done for the triangles. Then you could use for example `matplotlib.collections.PolyCollection` to combine the grid with the grid values to produce plots.

[2021-05-18 08:36] jacklovell commented on #45
We do something similar for plotting voxel grids in core: https://github.com/cherab/core/blob/e83bb8cf1ba19d0a645b774c460347ef302e2926/cherab/tools/inversions/voxels.pyx#L683-L688.

[2021-05-18 08:51] vsnever commented on #45
Hi @Mateasek, @jacklovell,

It seemed to me that we already have everything to make the plots with `PolyCollection`. The RZ-coordinates of cell vertices are defined in `SOLPSSimulation.mesh.r(z)` (4, Ny, Nx) arrays and all the data is defined on the original (Ny, Nx) grid.

[2021-05-18 09:10] Mateasek commented on #45
I made a draft PR #47 to show what I had in mind. If there is already a way how to plot the grid and values, then I'm sorry but I missed it. The advantage of what I proposed is probably that we will have the quadrangle grid saved the same way as the triangle one. Having the quadrangle indicies and vertexes is somehow more understandable and standard for me.

[2021-05-18 09:20] vsnever commented on #45
Now I see, the idea is to keep the unique vertices as this allows for more simple plotting. I like it because previously I had to add a separate polygon for each cell to the collection to plot the data.

[2021-05-18 09:42] Mateasek commented on #45
Yes, sorry, I didn't explain it properly. I will change the PR.

Another possibility to do is to keep only the values of `unique_vertices` and construct the triangle, quadrangle values in the properties.

[2021-05-22 15:51] vsnever opened #48 "Add molecular and total H-alpha emission to SOLPSSimulation."
EIRENE can calculate H-alpha emission due to atomic and molecular processes. Here, molecular processes are the dissociation of hydrogen molecules and molecular ions with the production of atoms in excited states. Such atoms are not taken into account in the ADAS collisional radiative model. Moreover, the atomic-only component of H-alpha emission calculated with EIRENE is usually 1.5 - 2 times high

[2021-05-22 18:51] vsnever opened #50 "Fix SOLPSTotalRadiatedPower and make solps_total_radiated_power() more universal"
When calculating the spectral emissivity in `SOLPSTotalRadiatedPower.emission_function()`, the total emissivity is divided by 4π, wavelength range and the number of spectral bins. It seems to me that dividing by the number of spectral bins is unnecessary here and breaks the normalisation.

I propose a change from:
[code]
to:
[code]
Note, however, that even after this correction, this emitter will

[2021-05-24 08:27] Mateasek commented on #50
Hi @vsnever,

good catch with the normalisation!

I also like the proposed changes to the class and methods. Adds more variability, so I think you can go ahead, if @jacklovell is not against. We can always keep the `solps_total_radiated_power` as a utility function which would simply call the proposed `solps_radiated_power`.

[2021-05-28 16:31] jacklovell commented on #50
I think the idea behind dividing by the number of spectral bins is to distribute the power evenly among each bin. The division by `spectrum.nbins` is necessary to conserve power: if you didn't then summing the spectrum over all bins (i.e. integrating over wavelengths) would give you nbins times the total power. To me it looks like the existing function is correct, though I would be happy to see a

[2021-05-28 17:27] vsnever commented on #50
Hi @jacklovell,
Thanks for the tip with `VolumeTransform` modifier. I didn't know about it. With this modifier, the `RadiationFunction` is enough indeed.

The power is divided by the wavelength range of the ray, so the integral over the wavelength gives the power again, not the nbins times the power.

[2021-05-30 20:52] vsnever commented on #50
Looks like we don't need `SOLPSTotalRadiatedPower` anymore. Then the `make_solps_emitter()` function will be like this:

[code]

[2021-06-01 11:47] jacklovell commented on #50
Ah yes, I see now.

[2021-07-03 21:51] vsnever opened #53 "Fix pickle serialization of SOLPSSimulation and SOLPSMesh"
Current implementation of `__getstate__` and `__setstate__` methods of `SOLPSSimulation` and `SOLPSMesh` breaks serialization of these objects with pickle. For example, `SOLPSMesh.__getstate__()` ignores the state of  `_cr`, `_cz`, `_nx`, `_ny` and other `SOLPSMesh` attributes defined at initialization. Therefore, `pickle.loads(pickle.dumps(solps_mesh))` returns a broken object. The same is true f

[2021-07-05 10:21] vsnever opened #55 "Fix BasicSolpsLineEmitter and make it a PlasmaModel subclass"
`BasicSolpsLineEmitter` is also affected by the issue cherab/core#235. Namely, electron temperature is used for thermal broadening of the line instead of species temperature. I suggest making SOLPS line emitter a subclass of `PlasmaModel` with user-provided emissivity defined as a `SOLPSFunction2D`. When converted to `PlasmaModel`, it will support any line shape model available in Cherab, not just

[2021-07-13 15:13] vsnever opened #57 "Check for IndexError when obtaining vessel configuration from MDSPlus"
In some cases, an attempt to load a SOLPS simulation from the MDSPlus server throws an `IndexError` when reading the vessel configuration. For example, the following:
[code]
will throw an error:
[code]
Therefore, `IndexError` must be added to the list of exceptions.

[2021-07-29 12:01] jirakova opened #59 "Loading SOLPS-ITER simulation: refer to baserun for b2fgmtry"
When using `load_solps_from_raw_output`, the `b2fgmtry` file is expected to be in the run directory (which is passed as argument to `load_solps_from_raw_output`). However, usually one sets up the geometry using `b2run b2ag` in the baserun directory  (usually `../baserun` relative to the run directory), so `b2fgmtry` is stored there and SOLPS refers to it from every run directory. It would, therefo

[2021-07-29 12:06] jirakova opened #60 "Improve docstring of sim.mesh.vol"
When loading a simulation using `sim = load_solps_from_raw_output(path)`, the docstring of `sim.mesh.vol` reads "Volume/area of each grid cell". It would be more instructive to make it "Volume of each grid cell", with the unit specified as well.

[2021-07-29 12:47] vsnever commented on #60
Thanks, @jirakova. I created a pull request with a fix.

[2021-07-29 13:00] vsnever commented on #59
Thanks for reporting this. We also need to specify in the docstring that `simulation_path` is a path to the run directory. Because for a SOLPS user, the simulation directory is the one with run and baserun subdirectories.

[2021-07-29 13:26] vsnever commented on #57
Fixed in #58.

[2021-07-29 13:26] #57 closed, assigned to nobody

[2021-07-29 13:26] vsnever commented on #50
Fixed in #52.

[2021-07-29 13:26] #50 closed, assigned to nobody

[2021-07-29 13:29] jacklovell commented on #59
There are two use cases I regularly see used for `load_solps_from_raw_output`:

1. The Cherab user is also a SOLPS user, has performed a SOLPS run themselves and wants to analyse it.
2. The Cherab user has received some files from a SOLPS user and wants to analyse the output with Cherab.

The cherab-solps module was originally developed with option 2 in mind (the original authors did not run SOLPS

[2021-07-29 13:37] Mateasek commented on #59
What about having a separate method rather than an argument? The only difference is getting the correct paths and then the rest function is the same. Separating it in two methods might be clearer and it could have simple docs

[2021-07-29 13:44] vsnever commented on #59
I think that `baserun` and `run` directories are hard coded into SOLPS, so there are only two possible cases:
1) all the files are in the same directory,
2) b2fgmtry is in the `baserun` and all other files are in the `run`.

@jirakova, can you comment on this?

[2021-07-29 14:07] vsnever commented on #59
I don't think that we need another argument, especially if baserun and run are hard coded into SOLPS. However, I certainly agree with @jacklovell that the search paths should be documented.
[code]

[2021-07-29 14:14] jirakova commented on #59
As far as I know, it is mandatory that "simulations" are stored in `$SOLPSTOP/runs` under an arbitrary name. Each "simulation" must contain exactly one baserun folder. Individual "runs" are usually stored in parallel to baserun, each under an arbitrary name within the simulation folder, but they can be grouped in subdirectories as well. Therefore, `run_path/../baserun` will *usually* point to the

[2021-07-29 14:23] vsnever commented on #59
I see, thank you. This means that I was wrong about the directory structure.

Then it seems like the correct solution.

[2021-07-29 15:17] vsnever commented on #59
I think that PR #62 now implements the solution suggested by @jacklovell and @jirakova.

[2021-07-30 08:57] Mateasek commented on #59
I still think that the separation of the two @jacklovell described deserves 2 separate methods. There can be a method, which will get paths to the files as parameters (e.g. `load_solps_raw_files`) which should be loaded and could be called by other methods for loading files from a single directory (e.g. `load_solps_from_raw_output `) and from the run directory (e.g. `load_solps_from_run_directory`

[2021-07-30 09:53] vsnever commented on #59
I think we can have very similar behaviour with a single method avoiding any assumptions about the directory structure:
[code]
If a specific file is not in `simulation_path`, the user can specify the path to it.

[2021-07-30 12:21] jirakova commented on #59
In the case that @vsnever's solution is adopted, I'd drop a note in a visible place of the documentation (examples, docstring, file-not-found message) that the user may redefine the individual file paths. It will be a bit of a drag to write the paths out every time I want to load a simulation, especially since I may not know from the get-go where the files are stored, but divining some general rul

[2021-07-30 12:44] Mateasek commented on #59
Right, thanks for explanation.

[2021-07-30 13:59] vsnever commented on #59
Here is a variant for the docstring for `load_solps_from_raw_output()`:
[code]

[2021-08-04 06:49] jirakova commented on #59
@vsnever This looks fantastic.

[2021-08-04 09:27] vsnever commented on #59
I pushed this change to #62, so let's wait for @jacklovell's decision.

[2021-08-09 18:02] vsnever commented on #48
Fixed in #49.

[2021-08-09 18:02] #48 closed, assigned to nobody

[2021-08-09 21:20] vsnever opened #63 "Fix SOLPSSimulation.electron_velocities_cylindrical setter"
There is a copy paste error in `SOLPSSimulation.electron_velocities_cylindrical` setter:
https://github.com/cherab/solps/blob/a4e6b63b45654d7bf438a27eb47b92f544474b67/cherab/solps/solps_plasma.py#L310-L318
Instead of this:
[code]
should be this:
[code]
I think we need unit tests to track bugs like this. I'll start adding them.

[2021-11-24 19:10] vsnever opened #65 "Loading simulation from MDSPlus or raw files will fail at obtaining Balmer-alpha wavelengths if OpenADAS repository is not installed in the default location"
When converting Balmer-alpha radiation density from photons/s/m3 to W/m3, the OpenADAS repository is used to obtain the wavelengths of Balmer-alpha spectral lines: https://github.com/cherab/solps/blob/31ec6b5db25be9f31c9e7a992845ccbbf58e6919/cherab/solps/formats/raw_simulation_files.py#L191-L197

https://github.com/cherab/solps/blob/31ec6b5db25be9f31c9e7a992845ccbbf58e6919/cherab/solps/formats/mds

[2021-11-25 10:29] jacklovell commented on #65
I'd prefer to avoid adding hard-coded values just to avoid getting them from a repository: we should aim for DRY where possible. Why not make `atomic_data=None` an optional argument to these routines, and if it's not supplied by the user then the atomic data will be loaded from the default OpenADAS repository location, i.e. using `atomic_data = OpenADAS()`.

That way users can provide their own cu

[2021-11-25 11:11] Mateasek commented on #65
I agree with @jacklovell here. Having it as an optional parameter is the standard solution adopted in cherab, atomic_data is passed already to many models and plasma. Hard coding it here would result in having atomic data specified outside of the atomic data object/repository and that is against the philosophy, at least against how I understood it. It could cause a lot of errors and lengthily debu

[2021-11-25 12:10] vsnever commented on #65
Thanks for your comments. I've added optional `atomic_data` parameter to `load_solps_from_raw_output()` and `load_mesh_from_mdsplus()` in the PR #66.

[2021-12-15 09:22] vsnever commented on #65
Fixed in PR #66.

[2021-12-15 09:22] #65 closed, assigned to nobody

[2021-12-15 09:23] vsnever commented on #63
Fixed in PR #64.

[2021-12-15 09:23] #63 closed, assigned to nobody

[2021-12-15 09:23] vsnever commented on #55
Fixed in PR #56.

[2021-12-15 09:23] #55 closed, assigned to nobody

[2021-12-15 09:24] vsnever commented on #53
Fixed in PR #54.

[2021-12-15 09:24] #53 closed, assigned to nobody

[2022-01-18 10:42] #28 closed, assigned to nobody

[2022-01-18 10:42] #59 closed, assigned to nobody

[2022-01-18 10:42] #60 closed, assigned to nobody

[2022-01-18 10:54] #31 closed, assigned to nobody

[2022-01-18 10:54] #30 closed, assigned to nobody

[2022-01-18 10:54] #8 closed, assigned to nobody

[2022-01-18 10:55] #20 closed, assigned to nobody

[2022-01-18 10:56] #45 closed, assigned to nobody